/* Color Tokens Light Theme */
:root,
:root[data-theme='light'] {
  --wl-elements-borderColor: theme('colors.alpha.gray.10');
  --wl-elements-borderColorActive: theme('colors.accent.600');

  --wl-elements-bg-depth-1: theme('colors.white');
  --wl-elements-bg-depth-2: theme('colors.gray.50');
  --wl-elements-bg-depth-3: theme('colors.gray.200');
  --wl-elements-bg-depth-4: theme('colors.alpha.gray.5');

  --wl-elements-textPrimary: theme('colors.gray.950');
  --wl-elements-textSecondary: theme('colors.gray.600');
  --wl-elements-textTertiary: theme('colors.gray.500');

  --wl-elements-code-background: theme('colors.gray.100');
  --wl-elements-code-text: theme('colors.gray.950');

  --wl-elements-button-primary-background: theme('colors.alpha.accent.10');
  --wl-elements-button-primary-backgroundHover: theme('colors.alpha.accent.20');
  --wl-elements-button-primary-text: theme('colors.accent.600');

  --wl-elements-button-secondary-background: theme('colors.alpha.gray.5');
  --wl-elements-button-secondary-backgroundHover: theme('colors.alpha.gray.10');
  --wl-elements-button-secondary-text: theme('colors.gray.950');

  --wl-elements-button-danger-background: theme('colors.alpha.red.10');
  --wl-elements-button-danger-backgroundHover: theme('colors.alpha.red.20');
  --wl-elements-button-danger-text: theme('colors.red.500');

  --wl-elements-item-contentDefault: theme('colors.alpha.gray.50');
  --wl-elements-item-contentActive: theme('colors.gray.950');
  --wl-elements-item-contentAccent: theme('colors.accent.700');
  --wl-elements-item-contentDanger: theme('colors.red.500');
  --wl-elements-item-backgroundDefault: rgba(0, 0, 0, 0);
  --wl-elements-item-backgroundActive: theme('colors.alpha.gray.5');
  --wl-elements-item-backgroundAccent: theme('colors.alpha.accent.10');
  --wl-elements-item-backgroundDanger: theme('colors.alpha.red.10');

  --wl-elements-loader-background: theme('colors.alpha.gray.10');
  --wl-elements-loader-progress: theme('colors.accent.500');

  --wl-elements-artifacts-background: theme('colors.white');
  --wl-elements-artifacts-backgroundHover: theme('colors.alpha.gray.2');
  --wl-elements-artifacts-borderColor: var(--wl-elements-borderColor);
  --wl-elements-artifacts-inlineCode-background: theme('colors.gray.100');
  --wl-elements-artifacts-inlineCode-text: var(--wl-elements-textPrimary);

  --wl-elements-actions-background: theme('colors.white');
  --wl-elements-actions-code-background: theme('colors.gray.800');

  --wl-elements-messages-background: theme('colors.gray.100');
  --wl-elements-messages-linkColor: theme('colors.accent.600');
  --wl-elements-messages-code-background: theme('colors.gray.800');
  --wl-elements-messages-inlineCode-background: theme('colors.gray.200');
  --wl-elements-messages-inlineCode-text: theme('colors.gray.800');

  --wl-elements-icon-success: theme('colors.green.500');
  --wl-elements-icon-error: theme('colors.red.500');
  --wl-elements-icon-primary: theme('colors.gray.950');
  --wl-elements-icon-secondary: theme('colors.gray.600');
  --wl-elements-icon-tertiary: theme('colors.gray.500');

  --wl-elements-dividerColor: theme('colors.gray.100');

  --wl-elements-prompt-background: theme('colors.alpha.white.80');

  --wl-elements-sidebar-dropdownShadow: theme('colors.alpha.gray.10');
  --wl-elements-sidebar-buttonBackgroundDefault: theme('colors.alpha.accent.10');
  --wl-elements-sidebar-buttonBackgroundHover: theme('colors.alpha.accent.20');
  --wl-elements-sidebar-buttonText: theme('colors.accent.700');

  --wl-elements-preview-addressBar-background: theme('colors.gray.100');
  --wl-elements-preview-addressBar-backgroundHover: theme('colors.alpha.gray.5');
  --wl-elements-preview-addressBar-backgroundActive: theme('colors.white');
  --wl-elements-preview-addressBar-text: var(--wl-elements-textSecondary);
  --wl-elements-preview-addressBar-textActive: var(--wl-elements-textPrimary);

  --wl-elements-terminals-background: theme('colors.white');
  --wl-elements-terminals-buttonBackground: var(--wl-elements-bg-depth-4);

  --wl-elements-cta-background: theme('colors.gray.100');
  --wl-elements-cta-text: theme('colors.gray.950');

  /* Terminal Colors */
  --wl-terminal-background: var(--wl-elements-terminals-background);
  --wl-terminal-foreground: #333333;
  --wl-terminal-selection-background: #00000040;
  --wl-terminal-black: #000000;
  --wl-terminal-red: #cd3131;
  --wl-terminal-green: #00bc00;
  --wl-terminal-yellow: #949800;
  --wl-terminal-blue: #0451a5;
  --wl-terminal-magenta: #bc05bc;
  --wl-terminal-cyan: #0598bc;
  --wl-terminal-white: #555555;
  --wl-terminal-brightBlack: #686868;
  --wl-terminal-brightRed: #cd3131;
  --wl-terminal-brightGreen: #00bc00;
  --wl-terminal-brightYellow: #949800;
  --wl-terminal-brightBlue: #0451a5;
  --wl-terminal-brightMagenta: #bc05bc;
  --wl-terminal-brightCyan: #0598bc;
  --wl-terminal-brightWhite: #a5a5a5;
  --modern-scrollbar-thumb-background: rgba(100, 100, 100, 0.3);
  --modern-scrollbar-thumb-backgroundHover: rgba(74, 74, 74, 0.8);
}

/* Color Tokens Dark Theme */
:root[data-theme='dark'] {
  --wl-elements-borderColor: theme('colors.alpha.white.10');
  --wl-elements-borderColorActive: theme('colors.accent.500');

  --wl-elements-bg-depth-1: theme('colors.gray.950');
  --wl-elements-bg-depth-2: theme('colors.gray.900');
  --wl-elements-bg-depth-3: theme('colors.gray.800');
  --wl-elements-bg-depth-4: theme('colors.alpha.white.5');

  --wl-elements-textPrimary: theme('colors.white');
  --wl-elements-textSecondary: theme('colors.gray.400');
  --wl-elements-textTertiary: theme('colors.gray.500');

  --wl-elements-code-background: theme('colors.gray.800');
  --wl-elements-code-text: theme('colors.white');

  --wl-elements-button-primary-background: theme('colors.alpha.accent.10');
  --wl-elements-button-primary-backgroundHover: theme('colors.alpha.accent.20');
  --wl-elements-button-primary-text: theme('colors.accent.400');

  --wl-elements-button-secondary-background: theme('colors.alpha.white.5');
  --wl-elements-button-secondary-backgroundHover: theme('colors.alpha.white.10');
  --wl-elements-button-secondary-text: theme('colors.white');

  --wl-elements-button-danger-background: theme('colors.alpha.red.10');
  --wl-elements-button-danger-backgroundHover: theme('colors.alpha.red.20');
  --wl-elements-button-danger-text: theme('colors.red.500');

  --wl-elements-item-contentDefault: theme('colors.alpha.white.50');
  --wl-elements-item-contentActive: theme('colors.white');
  --wl-elements-item-contentAccent: theme('colors.accent.400');
  --wl-elements-item-contentDanger: theme('colors.red.500');
  --wl-elements-item-backgroundDefault: rgba(255, 255, 255, 0);
  --wl-elements-item-backgroundActive: theme('colors.alpha.white.10');
  --wl-elements-item-backgroundAccent: theme('colors.alpha.accent.10');
  --wl-elements-item-backgroundDanger: theme('colors.alpha.red.10');

  --wl-elements-loader-background: theme('colors.alpha.gray.10');
  --wl-elements-loader-progress: theme('colors.accent.500');

  --wl-elements-artifacts-background: theme('colors.gray.900');
  --wl-elements-artifacts-backgroundHover: theme('colors.alpha.white.5');
  --wl-elements-artifacts-borderColor: var(--wl-elements-borderColor);
  --wl-elements-artifacts-inlineCode-background: theme('colors.gray.800');
  --wl-elements-artifacts-inlineCode-text: theme('colors.white');

  --wl-elements-actions-background: theme('colors.gray.900');
  --wl-elements-actions-code-background: theme('colors.gray.800');

  --wl-elements-messages-background: theme('colors.gray.800');
  --wl-elements-messages-linkColor: theme('colors.accent.400');
  --wl-elements-messages-code-background: theme('colors.gray.900');
  --wl-elements-messages-inlineCode-background: theme('colors.gray.700');
  --wl-elements-messages-inlineCode-text: var(--wl-elements-textPrimary);

  --wl-elements-icon-success: theme('colors.green.400');
  --wl-elements-icon-error: theme('colors.red.400');
  --wl-elements-icon-primary: theme('colors.gray.950');
  --wl-elements-icon-secondary: theme('colors.gray.600');
  --wl-elements-icon-tertiary: theme('colors.gray.500');

  --wl-elements-dividerColor: theme('colors.gray.100');

  --wl-elements-prompt-background: theme('colors.alpha.gray.80');

  --wl-elements-sidebar-dropdownShadow: theme('colors.alpha.gray.30');
  --wl-elements-sidebar-buttonBackgroundDefault: theme('colors.alpha.accent.10');
  --wl-elements-sidebar-buttonBackgroundHover: theme('colors.alpha.accent.20');
  --wl-elements-sidebar-buttonText: theme('colors.accent.400');

  --wl-elements-preview-addressBar-background: var(--wl-elements-bg-depth-1);
  --wl-elements-preview-addressBar-backgroundHover: theme('colors.alpha.white.5');
  --wl-elements-preview-addressBar-backgroundActive: var(--wl-elements-bg-depth-1);
  --wl-elements-preview-addressBar-text: var(--wl-elements-textSecondary);
  --wl-elements-preview-addressBar-textActive: var(--wl-elements-textPrimary);

  --wl-elements-terminals-background: var(--wl-elements-bg-depth-1);
  --wl-elements-terminals-buttonBackground: var(--wl-elements-bg-depth-3);

  --wl-elements-cta-background: theme('colors.alpha.white.10');
  --wl-elements-cta-text: theme('colors.white');

  /* Terminal Colors */
  --wl-terminal-background: var(--wl-elements-terminals-background);
  --wl-terminal-foreground: #eff0eb;
  --wl-terminal-selection-background: #97979b33;
  --wl-terminal-black: #000000;
  --wl-terminal-red: #ff5c57;
  --wl-terminal-green: #5af78e;
  --wl-terminal-yellow: #f3f99d;
  --wl-terminal-blue: #57c7ff;
  --wl-terminal-magenta: #ff6ac1;
  --wl-terminal-cyan: #9aedfe;
  --wl-terminal-white: #f1f1f0;
  --wl-terminal-brightBlack: #686868;
  --wl-terminal-brightRed: #ff5c57;
  --wl-terminal-brightGreen: #5af78e;
  --wl-terminal-brightYellow: #f3f99d;
  --wl-terminal-brightBlue: #57c7ff;
  --wl-terminal-brightMagenta: #ff6ac1;
  --wl-terminal-brightCyan: #9aedfe;
  --wl-terminal-brightWhite: #f1f1f0;
  --modern-scrollbar-thumb-background: rgba(100, 100, 100, 0.3);
  --modern-scrollbar-thumb-backgroundHover: rgba(10, 10, 10, 0.8);
}

/*
 * Element Tokens
 *
 * Hierarchy: Element Token -> (Element Token | Color Tokens) -> Primitives
 */
:root {
  --header-height: 54px;
  --chat-max-width: 33rem;
  --chat-min-width: 533px;
  --workbench-width: min(calc(100% - var(--chat-min-width)), 2536px);
  --workbench-inner-width: var(--workbench-width);
  --workbench-left: calc(100% - var(--workbench-width));

  /* Toasts */
  --toastify-color-progress-success: var(--wl-elements-icon-success);
  --toastify-color-progress-error: var(--wl-elements-icon-error);

  /* Terminal */
  --wl-elements-terminal-backgroundColor: var(--wl-terminal-background);
  --wl-elements-terminal-textColor: var(--wl-terminal-foreground);
  --wl-elements-terminal-cursorColor: var(--wl-terminal-foreground);
  --wl-elements-terminal-selection-backgroundColor: var(--wl-terminal-selection-background);
  --wl-elements-terminal-color-black: var(--wl-terminal-black);
  --wl-elements-terminal-color-red: var(--wl-terminal-red);
  --wl-elements-terminal-color-green: var(--wl-terminal-green);
  --wl-elements-terminal-color-yellow: var(--wl-terminal-yellow);
  --wl-elements-terminal-color-blue: var(--wl-terminal-blue);
  --wl-elements-terminal-color-magenta: var(--wl-terminal-magenta);
  --wl-elements-terminal-color-cyan: var(--wl-terminal-cyan);
  --wl-elements-terminal-color-white: var(--wl-terminal-white);
  --wl-elements-terminal-color-brightBlack: var(--wl-terminal-brightBlack);
  --wl-elements-terminal-color-brightRed: var(--wl-terminal-brightRed);
  --wl-elements-terminal-color-brightGreen: var(--wl-terminal-brightGreen);
  --wl-elements-terminal-color-brightYellow: var(--wl-terminal-brightYellow);
  --wl-elements-terminal-color-brightBlue: var(--wl-terminal-brightBlue);
  --wl-elements-terminal-color-brightMagenta: var(--wl-terminal-brightMagenta);
  --wl-elements-terminal-color-brightCyan: var(--wl-terminal-brightCyan);
  --wl-elements-terminal-color-brightWhite: var(--wl-terminal-brightWhite);
}
